:root {
  /* Grayscale */
  --able-gray-10: #141414;
  --able-gray-20: #2d2d2d;
  --able-gray-30: #3c3c3c;
  --able-gray-40: #484848;
  --able-gray-50: #646464;

  /* Text */
  --able-text: #eeeeee;

  /* Vibrant accents */
  --able-hot-pink: #ff39d4;
  --able-fuchsia-tom: #ff2b6f;
  --able-peach: #ffa374;
  --able-coral: #ff94a6;
  --able-cyan: #19e9ff;
  --able-aqua: #5cffe8;
  --able-orange: #f39420;
  --able-lemon: #fff034;
  --able-pale-yellow: #f7f47c;
}

body {
  font-family: sans-serif;
  color: var(--able-text);
  background-color: var(--able-gray-20);
}
